
<head>
  <%= stylesheet_link_tag 'products' %>
</head>

<h1 class="index_title">Products in database:</h1>


<div class="index_all_products">

<% @products.each do |product| %>

<div id="index_one_whole_product">
  
  <p class="index_product_id">  
    <%= product.id %>

  <div class="index_product_image">
    <img src="<%= product.product_picture %>" width="240" height=auto></div></p>

  <p class="index_product_name">
    <%= product.name.capitalize %></p>

  <p class="index_price">
    <%= number_to_currency(product.price) %></p>

  <p class="index_product_cart_button">
    <% if product.in_cart %>
      <%= form_tag(product_path(product), :method => "put") do %>
        <input type='hidden' value="false" name='product[in_cart]'/>
        <button type="submit">Remove from wishlist</button> 
      <% end %>
    <% else %>
      <%= form_tag(product_path(product), :method => "put") do %>
        <input type='hidden' value="true" name='product[in_cart]'/>
        <button type="submit">Add to wishlist</button> 
      <% end %>
    <% end %></p>

  <p class="index_product_links">
    <%= link_to 'Detail', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<% end %>
</div>

<br />

<div class="index_new_product_search">
  <form action='/product_search' method='get'>
    <label for='product_search_name'>Search for new product</label>
    <input type='text' name='product_search_name'/>

    <button>Search</button>
  </form></div>

<div class="index_cart">
  <%= render 'cart' %></div>

