<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <% if @product %>
    <input type="hidden" name='review[product_id' value='<%= @product.id %>'>
    <% else %>
    <select name="review[product_id]">
      <% Product.all.each do |doit| %>
      <option value="<%= doit.id %>">
        <%= doit.name %>
      </option>
      <% end %>
    <!--<%= f.label :product_id %><br />
    <%= f.number_field :product_id %>  changed some shit here, from f.number_field :product_id to @product.id -->
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

